@import "partials/base";

@import "blueprint";
@import "blueprint/debug";

$header-height: 65px;

$font-color: white;

$content-width: 900px;

$header-background-color: black;
$background-color: #212121;

$theme-color: red;

::selection, ::-moz-selection { background: $theme-color; }

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  font-family: museo-sans, helvetica, arial, sans-serif;
  color: $font-color;
}

a, a:visited {
  color: $theme-color;
  text-decoration: none;

  &:hover {
    color: darken($theme-color, 10%); }
}


header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: $header-height;
  background: $header-background-color;
  z-index: 10;
}

h1, h2, h3, h4, h5, span, p, a, img, ul, li {
  padding: 0;
  margin: 0;
}

$header-top-push: 10px;

.header_content_container {
  @include container;
  z-index: 20;
  margin: 0 auto;
  width: $content-width;
  height: 200px;

  padding-top: 10px;

  //@include showgrid;

  .logo {
    @include column(6);
  }

  .stream {
    padding-top: $header-top-push;
    @include column(4);
  }

  .separator {
    @include column(1);
  }

  .userstream {
    padding-top: $header-top-push;
    @include column(6);
  }

  .promotion {
    padding-top: $header-top-push;
    @include column(6, true);
  }
}

.content_container {
  //push down below header
  position: relative;
  top: $header-height;
  
  margin: 0 auto;
  width: $content-width;
  background: $background-color;
}

.separator {
  border-right: 1px solid #747474;
  height: $header-height - 10px - 10px;
}

/******** navigation **********/

.dropdown a {
  font-size: 1.2em;
}

$stream-width: span(4);

.dropdown {
  list-style: none;

  float: left;
  width: $stream-width;
  position: relative;
  z-index: 25;
  background: $header-background-color;
}

.dropdown li {
  float: left;
  margin-right: 10px;
  position: relative;
}

.dropdown ul {
  position: absolute;
  list-style: none;
  left: -9999px;
  background: $header-background-color;
  width: $stream-width;

  z-index: 20;
}

.dropdown ul li { float: none; }

.dropdown ul a { white-space: nowrap; }

.dropdown li:hover ul { left: 0; }
