.gallery-page
  - photos.each do |photo|
    - session[:photo_index] += 1
    - if session[:photo_index] % 3 == 0
      .gallery-image.last
        .thumb
          %img{ :src => photo.thumb, :class => 'thumb' }
          .details
            .content
              %a{ :href => "http://500px.com/photo/#{photo.id}" }= photo.title.nil? ? '' : photo.title.upcase
        #full{ :title => photo.full }
      .clear
    - else
      .gallery-image
        .thumb
          %img{ :src => photo.thumb, :class => 'thumb' }
          .details
            .content
              %a{ :href => "http://500px.com/photo/#{photo.id}" }= photo.title.nil? ? '' : photo.title.upcase
        #full{ :title => photo.full }
