if defined?(Sinatra)
  project_path = Sinatra::Application.root
  environment = :development
else
  css_dir = File.join 'static', 'stylesheets'
  relative_assets = true
  environment = :production
end

http_path = "/"
http_images_path = "/images"
http_stylesheets_path = "/stylesheets"
css_dir = "stylesheets"
sass_dir = File.join 'views', 'stylesheets'
images_dir = File.join 'static', 'images'
javascripts_dir = "javascripts"

output_style = :compact
line_comments = false
